.buzos-container {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
  gap: 100px;
  justify-content: center;
  padding: 30px;
  margin: 50px;
  /* width: 75%; */
}

.buzo-item {
  width: 100%;
  display: flex;
  flex-direction: column;
  border: 2px solid #ddd;
  border-radius: 10px;
  padding: 20px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  margin-bottom: 30px;
  backdrop-filter: blur(5px); 
  background-color: rgba(255, 255, 255, 0.5); 
}

.buzo-item img {
  width: 100%;
  border-radius: 10px;
}

.buzo-item img {
  width: 100%;
  border-radius: 10px;
  transition: transform 0.3s ease-in-out; 
}

.buzo-item img:hover {
  transform: scale(1.05); 
}

.buzos-name{
  
  backdrop-filter: blur(5px);
  background-color: rgba(255, 255, 255, 0.5);
}
